
:root {
  --text-color: #22343d;
  --btn-color: #02897A;
  --light: #fff;
}

/* ##################################################### */
@media (min-width: 300px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  #site-header {
    padding: 40px 0;
    display: flex;
    align-items: center;
  }

  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background: var(--btn-color);
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }

  .nav-show {
    padding: 50px;
    padding-top: 100px;
    width: 70%;
    transition: all 0.3s ease-in-out;
  }

  .nav__list {
    margin-top: 50px;
  }

  .nav__list-item {
    margin: 0;
    margin-bottom: 30px;
  }

  .nav__list-item a {
    color: #fff;
  }

  .btn {
    display: inline-block;
  }

  .sign-up__btn {
    border: 1px solid #BCD0E5;
  }

  #nav__adjust-btn {
    position: absolute;
    top: 37px;
    left: 20px;
  }

  .nav__menu {
    position: absolute;
    top: 37px;
    right: 3%;
    z-index: 6;
  }

  /* BUILT */
  .built__title br {
    display: none;
  }

  /* SERVICES SECTION */

  .content__desc {
    order: 2;
  }
  .content__image {
    order: 1;
  }

  .resource__list-item,
  .legal__list-item {
    text-align: center;
  }

  .forma__content {
    text-align: center;
    align-items: center;
  }

  /* PAGE 2 ############ */

  .logos__logo img {
    width: 100%;
  }

  .order__img {
  width: 100%;
  }

  .order__desc {
    margin-top: 53px;
  }

  /* PAGE 3 ############ */
  .effect__img1 {
    display: none;
  }

  /* RESOURCE PAGE ############### */
  #great {
    margin-top: 50px;
  }

  .great__desc {
    margin-bottom: 80px;
  }

  .great__paragraph {
    margin: 0 auto;
    width: 100%;
  }

  .great__form {
    margin: 24px auto;
    width: 346px;
  }


  .joined {
    margin: 0 auto;

  }
}


/* ##################################################### */
@media (min-width: 565px) {
  .built__title br {
    display: block;
  }

  .content__image img {
    width: 500px;
  }

  /* PAGE 2 ############ */

  .logos__logo img {
    width: unset;
  }

  .order__img {
    width:unset
  }

  /* RESOURCE PAGE ############### */
  .great__paragraph {
    width: 70%;
  }
}


/* ##################################################### */
@media (min-width: 828px) {
  .process__offers-right .offer:first-child {
    flex-direction: row-reverse;
  }
  .process__offers-right .offer:nth-child(2) {
    flex-direction: row;
  }

  /* COMPANY */
  #company {
    width: 80%;
    margin: 0 auto;
  }
  /* /COMPANY */

  /* FOOTER */
  .resource__list-item {
    justify-content: left;
    align-items: unset;
  }

  .forma {
    order: 3;
  }

  .legal {
    order: 4;
  }

  /* CLIENT PAGE #############*/
  .logos__logo img {
    width: unset;
  }

}


/* ##################################################### */
@media (min-width: 910px) {

  /* RESOURCE PAGE ############### */
  .greate__props {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .great__form {
    margin-right: 0;
  }
}

/* ##################################################### */
@media (min-width: 1030px) {

  #site-header {
    padding: 0;
  }

  .header__nav {
    margin: 0;
    padding-top: 30px;
    position: static;
    background: transparent;
    width: auto;
    height: auto;

  }

  .nav__list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  }

  .nav__list-item {
    margin-left: 24px;
  }

  .nav__list-item a {
    color: var(--text-color);
  }

  #nav__adjust-btn {
    position: static;
  }

  .nav__menu {
    display: none;
  }

  /* HERO */

  .hero__wrap {
    flex-direction:row-reverse;
  }

  .hero__paragraph {
    width: 458px;
  }

  /* BUILD SECTION */
  .built-card {
    padding-left: 40px;
  }

  .built-card__paragraph br {
    display: none;
  }
  /* /BUILD SECTION */


  /* SERVICES SECTION */
  .content__text {
    width: inherit;
  }

  .content__image {
    width: 100%;
  }

  .content__img {
    width: 100%;
  }

  .content__desc {
    order: 1;
  }
  .content__image {
    order: 2;
  }

  .content:nth-child(2) {
    justify-content: space-between;
  }

  /* /SERVICES SECTION */

  /* PROCESS SECTION */
  .process_paragraph {
    width: 602px;
    margin: 0 auto;
  }

  /* CLIENTS SECTION */
  .client__paragraph br {
    display: none;
  }

  /* COMPANY SECTION */
  #company {
    width: 1100px;
    margin-top: 100px;
    margin: 0 auto;
  }

  .company__desc {
    display: flex;
    flex-direction: column;
  }

  .company__title {
    text-align: left;
  }

  .company__btn {
    width: 150px;
  }

  /* FOOTER */
  .forma {
    order: 4;
  }

  .legal {
    order: 3;
  }

  .resource__list-item,
  .legal__list-item {
    text-align: left;
    padding-left: 50px;
  }

  .resource__list-item {
    padding-left: 65px;
  }

  .forma__title {
    text-align: left;
  }
  .forma__content {
    align-items: flex-start;
  }

  /* PAGE 3 ################ */
  .order {
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .order:nth-child(2){
    justify-content: space-between;
    flex-direction: row-reverse;
  } 

  .order__image-wrap:not(.order:nth-child(2) .order__image-wrap) {
    text-align: left;
  }

  .order__image-wrap img {
    width: 500px;
  }

  .order__desc {
    margin-top: 0;
  }

  .order__paragraph {
    width: 438px;
  }

  /* EFFECT */
  .effect__img2 {
    display: none;
  }
  .effect__img1 {
    display: inline-block;
  }

  /* RESOURCE PAGE ############### */
  #great {
    margin-top: 100px;
  }

  .great__desc {
    text-align: left;
  }
  
  .great__paragraph {
    margin-left: unset;
    width: 535px;
  }

  .great__form {
    margin-left: 0;
    width: 470px;
  }

  .greate__props {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .joined__text {
    margin-left: 70px;
  }

}

/* ##################################################### */

@media (min-width: 1328px) {
  .built-card__paragraph br {
    display: block;
  } 
}
